<form method="post" id="create-vote-form">
    <div class="form-group">
        <label for="PreVoteEndDate" class="form-label">Valid Until:</label>
        <input type="text" name="EndDate" id="PreVoteEndDate" class="form-control" />
    </div>
</form>