<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]Automation</title>
    <script type="text/javascript" src="~/dist/index.js" asp-append-version="true"></script>
    <Page-Scripts></Page-Scripts>
</head>
<body>
<div class="layout d-flex flex-column align-items-center">
    <div class="container flex-fill">
        @RenderBody()
    </div>
    <div>
        &copy; 2022 - Buzz TMB Analyst
    </div>
</div>
</body>
</html>