<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <Page-Scripts src="index"></Page-Scripts>
    <Page-Scripts></Page-Scripts>
</head>
<body>
<div class="main-container">
    <partial name="_TopNav"/>
    <div class="container flex-fill">
        @RenderBody()
    </div>
    <div>
        &copy; 2022 - Buzz TMB Analyst
    </div>
</div>
<partial name="_CreatePreVoteModalPartial"/>
</body>
</html>