<div class="top-nav bg-primary">
    <div>
        <a class="btn text-black nav-link" asp-area="Import">
            Import
        </a>
    </div>
    <div>
        <a class="btn text-black nav-link" href="#">
            My Vote
        </a>
    </div>
    <div>
        <a class="btn text-black nav-link" href="#">
            Current Vote
        </a>
    </div>
</div>