@page
@model Index

<form method="post">
    <label asp-for="RawImportString" class="form-control form-label"></label>
    <textarea asp-for="RawImportString" class="form-control form-text"></textarea>
    <button type="submit" class="btn btn-primary">SUBMIT ME</button>
</form>